.advantages {
    min-height: 472px;
    padding: 70px 0 80px 0;
    background-color: #f6f6f6;
    &__wrapper {
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 60px;
    };
};
@media (max-width:992px){
    .advantages {
        &__wrapper {
            justify-content: center;
            flex-wrap: wrap;
            padding: 0 90px;
        };
    }
};
@media (max-width:768px){
    
};
@media (max-width:576px){
    .advantages {
        padding: 44px 0 80px 0;
        &__wrapper {
            padding: 0 19px;
            margin-top: 40px;
        };
        .catblock {
            &__header {
                margin-top: 20px;
            };
            &__descr {
                margin-top: 13px;
            };
            &__item {
                position: relative;
                min-width: 300px;
                min-height: 440px;
                padding: 20px 20px 27px 20px;
                margin-top: 20px;
                border: 2px solid #e8e8e8;
                overflow: hidden;
                margin-right: 20px;
                &:nth-child(3n) {
                    margin-right: 0;
                };
                &-wrapper {
                    display: flex;
                    width: calc(200% + 40px);
                    padding-bottom: 30px;
                };
            };
        };
        .mbs {
            margin-bottom: 34px;
        };
        
    }    
};

    