.slider {
    position: relative;
    max-width: 750px;
    max-height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    &__img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    };
    & img {
        width: 100%;
    };
    & .tns-nav button {
        width: 10px;
        height: 10px;
        margin-right: 10px;
        border: 1px solid $main-color;
        border-radius: 100%;
        background-color: #fff;
    };
    & .tns-nav-active {
        border: 1px solid $main-color;
        background-color: $main-color;
    };
    .prev, .next {
        padding: 0;
        outline: none;
        border: none;
        background-color: #ffffff;
        position: absolute;
        left: -66px;
        & img {
            width: 20px;
        };
    };
    .next {
        right: -66px;
        left: auto;
    }
};

@media (max-width:992px){
    

};
@media (max-width:768px){
    
    .slider {
        & button {
            display: none;
        };
    };
};
@media (max-width:576px){
    
    .slider {
        & button {
            display: none;
        };
    };

};
